.desc {
    background-color: #343D33;
    padding: 125px 80px 67px 80px;
    margin-top: 107px; 
}

.desc__cotent {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
}

.desc__block:first-child {
    display: flex;
    column-gap: 74px;
}

.desc__info-block {
    max-width: 417px;
}

.desc__title {
    font-family: var(--font-libre);
    font-weight: 400;
    font-size: 45px;
    line-height: 110%;
    text-transform: capitalize;
    color: #fff;
}

.desc__text {
    font-family: var(--font-roboto);
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #fff;
}

.btn {}

.desc__btn { 
    background: transparent;
    border-color: white;
    color: white;
}